.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  background-color: #ce1a1a;     /* dark grey, subtle */
  color: white;
  border-radius: 150%;
  padding: 12px 16px;
  text-decoration: none;
  opacity: 1;                 /* fully visible */
  transition: background-color 0.2s ease;
}

.back-to-top:hover {
  background-color: #666;     /* slightly lighter on hover */
  opacity: 1;                 /* stops fsading */
}

html {
  scroll-behavior: smooth;
}

.modal-backdrop.show {                      /*this will make popup bg darker*/
    opacity: 0.85 !important; /* darker backdrop */
    background-color: #000 !important; /* deep black */
}     

.modal-content {
    background: rgba(0, 0, 0, 0.0) !important; /* full transparency */
    border: none !important;
    box-shadow: none !important;
}

/*fix overflowing */
html, body {
  overflow-x: hidden;
}

/*for mobiles*/
img {
  max-width: 100%;
  height: auto;
}
p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .planet-text {
    text-align: center;
  }
}
/*loading screen*/

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 5px solid #ccc;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







